<!doctype html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EZ9NFYHHTG"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EZ9NFYHHTG');
    </script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>FK</title>
    <link rel="icon" type="image/png" href="/assets/images/swirl.png">
    <meta name="image" property="og:image" content="/assets/images/about/slackline_trees.jpg">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <a href="/">
                    <img class="logo" src="/assets/images/swirl.png">
                </a>
                <a href="/about">about</a>
            </nav>
        </header>
        {{ content }}
    </div>
</body>

</html>